* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: rgb(200, 91, 255);
    color: cornsilk;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}